/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 60px;
    background-color: #f7f7f7;
    text-align: center; /* This ensures that the content is centered */
}

#header {
    background-color: #545863;
    color: #fff;
    padding: 20px 10px;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

p {
    font-size: 1em;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
}

.input-container {
    margin: 20px 0;
    padding-left: 10px;
    padding-right: 10px;
}

#youtube-url {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
}

#generate-btn {
    padding: 10px 20px;
    background-color: #F96E46;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
}

#generate-btn:hover {
    background-color: #C44C2A;
}

/* Output Container Styles */
#output-container {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
}

#output-label {
    font-size: 1em;
    font-weight: bold;
}

#output-url-box {
    display: none;
    margin-bottom: 10px;
    border: 1px solid #333;
    padding: 10px;
    background-color: #e8e8e8;
    word-wrap: break-word;
    text-align: center;
    max-width: calc(100% - 60px);
}

#copy-btn {
    display: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

/* Form Control Containers */
/* Add margin-bottom property to both autoplay and related videos containers */
.autoplay-container,
.related-videos-container {
    margin-bottom: 20px; 
    font-size: 1em;
    /* Other shared styles... */
}

.autoplay-container label,
.related-videos-container label {
    margin-right: 5px;
}

.autoplay-container input[type=checkbox],
.related-videos-container input[type=checkbox] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
}

/* Footer Styles */
.footer {
    background-color: #F9C846;
    color: #545863;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 600px) {
    #output-label {
        font-size: 0.9em;
    }

    #output-url-box {
        font-size: 0.8em;
        overflow-wrap: break-word;
        margin-bottom: 5px;
    }

    #copy-btn img {
        width: 25px;
        height: 25px;
    }

    #youtube-url {
        width: 95%;
    }
}
