body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 60px;
    background-color: #f7f7f7;
    text-align: center; /* This ensures that the content is centered */
}

#header {
    background-color: #545863;
    color: #fff;
    padding: 20px 0;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

p {
    font-size: 1em;
    color: #333;
}

.input-container {
    margin: 20px 0;
}

#youtube-url {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
}

#generate-btn {
    padding: 10px 20px;
    background-color: #F96E46;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold; /* Make the font bolder */
    font-size: 1.1em; /* Increase the font size (adjust as necessary) */
    border-radius: 5px; /* Rounded corners (adjust radius as necessary) */
}

#generate-btn:hover {
    background-color: #C44C2A;
}


#output-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

#output-label {
    font-size: 1em;
    font-weight: bold;
    /* No need for margin-right as gap is used in the flex container */
}

#output-url-box {
    display: none;
    border: 1px solid #333;
    padding: 10px;
    background-color: #e8e8e8;
    word-wrap: break-word;
    text-align: left;
    max-width: calc(100% - 60px); /* Adjust if needed */
}

#copy-btn {
    display: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.autoplay-container {
    margin: 20px 0;
    font-size: 1em;
}

.autoplay-container label {
    margin-right: 5px;
}

.autoplay-container input[type=checkbox] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle; /* Aligns checkbox vertically with text */
}

.footer {
    background-color: #F9C846;
    color: #545863;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

@media (max-width: 600px) {
    #youtube-url {
        width: 95%;
    }
}
